<body>
        <p><a href="/checkout/index">checkout</a></p></br>
        <p><a href="/merchantHosted/index">merchant hosted</a></p></br>
        <p><a href="/seamlessBasic/index">seamless basic</a></p></br>
        <p><a href="/seamlessPro/index">seamless pro</a></p></br>
</body>
</body>